ion-view(view-title='Users')
    ion-content
        ion-list
          ion-item.item-remove-animate.item-avatar.item-icon-right(ng-repeat='user in users', type='item-text-wrap', href='#/tab/users/{{user.id}}')
            img(ng-src='{{user.face}}')
            |         
            h2 {{user.name}}
            |         
            p {{user.profile}}
            |         
            i.icon.ion-chevron-right.icon-accessory
            |         
            ion-option-button.button-assertive(ng-click='remove(user)')
              | Delete
